<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= form_for @article do |f| %>
 comments <%= f.text_area :body %><br>
 Password  <%= f.password_field :password %>
 Confirm Password<%= f.password_field :password_confirmation %>
  <%check_box_tag 'accept'%>
  <p>
    <b>Country</b><br />
    <%= f.radio_button :body, 'USA' %> USA<br />
    <%= f.radio_button :body, 'Canada' %> Canada<br />
    <%= f.radio_button :body, 'Mexico' %> Mexico<br />
    <%= f.button :submit %>
  </p>
<% end %>
