<p id="notice"><%= notice %></p>

<h1>Display Menu</h1>
 <%= render "menu" %>
<%= render "articles/ad_banner" %>

<h1>Products</h1>

<p>Here are a few of our fine products:</p>
<img src="/assets/photo.png" />


<%= date_select("article", "published_on")%>
     <%= datetime_select("article", "published_on")%>
<%=distance_of_time_in_words(Time.now, Time.now + 15.seconds)%>
<%=select_minute(Time.now + 6.hours)%>

<%= content_tag_for(:tr, @article) do %>
  <td><%= @article.title %></td>
<% end %>

<%= content_tag_for(:tr, @article, class: "frontpage") do %>
  <td><%= @article.title %></td>
<% end %>
<br>
<%= content_tag_for(:tr, @articles) do |article| %>
  <td><%= article.id %></td>
<% end %>







<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to 'New', new_article_path %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

